[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-crispy-forms = "*"
django-filter = "*"
requests = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.7"
